<h1>Gif#new</h1>

<%= form_for @gif, html: { multipart: true }, url: {action: "create"} do |f| %>
  <p>
    <label>Upload Gif</label>
    <%= f.file_field :file %>
    <%= text_field_tag 'tags', nil, placeholder: 'Enter tags here...' %>
    <%= f.submit %>
  </p>
<% end %>
